
.heading
{
	background-color:  #17a2d4;
height: 40px;
color :white;
margin : auto;
padding:10px 30px;
text-align:left;
}
.login
{
	font-family: Lato;
color:  #000000;
font-size: 18px;/* Approximation due to font substitution */
font-weight: 200;
text-align: center;
	border-radius: 3px;
background-color:  #ffffff;
box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.24);
width: 100px;
height: 30px;
float:right;
margin-right:20;
}
.clear
{
	clear: both;
}
.wrap{
	
	background-color:#EAEDED;
	border-radius: 3px;
	border-color:#2E86C1;'
	display:block;
	height:100%;
	width:100%;
}
.para
{
	color:gray;
}
.inner
{
	float:right;
	margin-right:20;
}
.content{
	border-radius: 3px;
background-color:  #ffffff;
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
padding:40;
margin:100 auto;
height:150;
width:300;
}
.email
{
border-radius: 3px;
border-width: 1px;
border-color:  #e8e8e8;
border-style: solid;
background-color:  #f6f6f6;
margin: auto;
padding-left:10;
margin-top:10;
height:40;
width:300;
}
.recover
{
	margin:auto;
	font-size: 24px;/* Approximation due to font substitution */
font-weight: 400;
text-align: center;
}
.link
{
	font-family: Lato;
color:  #ffffff;
font-size: 18px;/* Approximation due to font substitution */
font-weight: 400;
background-color:  #17a2d4;
text-align: center;
margin: 30 auto;
display:block;
border-radius: 3px;
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
	padding:7;
}